nav {
  display: none;
  width: 100%;
  height: 50px;
  background: #ffffff;
}
nav .nav-container {
  width: 80%;
  margin: auto;
}
nav .logo {
  height: 50px;
}
@media (min-width: 768px) {
  nav {
    display: flex;
  }
}
